.gameCard
{
    width:150px;
    height:240px;  
    border:1px solid black;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    border-radius:10px;
    position:relative;
    background-color:white;

    .hautGauche
    {
        margin:5px;
        position:absolute;
        left:0px;
        top:0px;

    }

    .millieux
    {
        align-self:center;
        
        width:60%;


        display:flex;
        justify-content:center;
        align-items:center; 
        flex-wrap:wrap;

        .arrangeMentSigne1{
            width:100%;

            display:flex;
            justify-content:center;
        } 

        .arrangeMentSigne2{
            width:50%;

            display:flex;
            justify-content:center;
        }

        .arrangeMentSigne3{
            width:33%;

            display:flex;
            justify-content:center;
        }

    }

    .batDroite
    {
        align-self:flex-end;
        transform: rotate(180deg);
        margin:5px;
        position:absolute;
        bottom:0px;
    }

    .red,.black
    {
        font-size:30px; 
    }
    .red
    {
        color:red;
        
        filter: invert(12%) sepia(83%) saturate(7444%) hue-rotate(0deg) brightness(109%) contrast(111%);
    }

    .black
    {
        color:black;
        filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(324deg) brightness(96%) contrast(104%);
    }
}

.teteCard
{
    width:100px;
    height:100px;
}

.ledRed
{
    background-color:rgba(0,20,40,1);
    border:3px solid red;

    box-shadow:
    0 0 3vw 0vw #442222,
    0 0 1vw 0.4vw red,
    inset 0 0 0.5vw 0.3vw red;

}

.ledRedsigne
{
    text-shadow:
    0 0 3vw #442222,
    0 0 2vw red, 
    0 0 2vw red;
}

.ledGreen
{
    background-color:rgba(0,20,40,1);
    border:3px solid green;

    box-shadow:
    0 0 3vw 0vw #224422,
    0 0 1vw 0.4vw Green,
    inset 0 0 0.5vw 0.3vw green;

}

.ledGreensigne
{
    color:green !important;
    filter: invert(58%) sepia(93%) saturate(3631%) hue-rotate(85deg) brightness(122%) contrast(128%) !important;

    text-shadow:
    0 0 3vw #224422,
    0 0 2vw green, 
    0 0 2vw green;
}

