.header_main{
    margin: none;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 50px;
    height: 50px;
    margin-bottom: 30px;
}

.DeSplit{
    font-size: 40px;
}