.metaMask
{
    background-color:#EEE;
    color:black;
    font-size:30px;
    text-align:center;

    border-radius:20px 0px 0px 0px;

    padding:0px;

    display:flex;
    justify-content:center;
    align-items:center;

    width:300px;
    height:100px;

    position:fixed;
    bottom:0;
    right:0;


    .MetaMaskImage
    {
        width:50px;
        height:50px;
    }

    .contenerAdress
    {
        width:140px;
        height:50px;
        font-size:15px;
        overflow-wrap: anywhere;
        overflow: hidden;
    }
}



.buton{
    font-size:30px;
    text-align:center;
    padding:10px;
    
    border-radius:10px/30px;

    background: linear-gradient(90deg, rgba(0,251,255,1) 0%, rgba(5,136,177,1) 82%, rgba(9,80,148,1) 95%, rgba(4,65,79,1) 100%);
    &:hover{
        background: linear-gradient(90deg, rgba(4,65,79,1) 0%, rgba(9,80,148,1) 5%, rgba(5,136,177,1) 18%, rgba(0,251,255,1) 100%);
    }
}

.addGroup
{
    display:flex;
}