@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap%27');
body {
    background-color: #001428;
    overflow-x: hidden;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    font-size: 22px;
}

.header {
    width: 100vw;
    color: white;
    padding: 10px;
    text-align: center;
    display: flex;
    font-size: 50px;
    font-weight: bold;
    margin: auto;
    margin-top: 10px;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    max-width: 1200px;
    height: 70px;
    justify-content: center;
    align-items: center;
}

.connect {
    margin: 0;
    display: flex;
    position: relative;
    text-align: center;
    justify-content: center;
    height: 70vh;
}

.button {
    background: rgb(133, 16, 171);
    background: linear-gradient(90deg, rgba(133, 16, 171, 1) 0%, rgba(121, 9, 105, 1) 50%, rgba(145, 0, 255, 1) 100%);
    height: 50px;
    margin-top: 20%;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    font-size: 20px;
    width: 200px;
    color: white;
    border-color: black;
}

.buton {
    max-width: 400px;
    width: 100%;
    font-size: 30px;
    text-align: center;
    padding: 10px;
    border-radius: 10px/30px;
    background: linear-gradient(90deg, rgba(0, 251, 255, 1) 0%, rgba(5, 136, 177, 1) 82%, rgba(9, 80, 148, 1) 95%, rgba(4, 65, 79, 1) 100%);
    &:hover {
        background: linear-gradient(90deg, rgba(4, 65, 79, 1) 0%, rgba(9, 80, 148, 1) 5%, rgba(5, 136, 177, 1) 18%, rgba(0, 251, 255, 1) 100%);
    }
}
