body{
    background-color:rgb(0,20,40);
    overflow-x:hidden;
}

.home{
    position:relative;
    
    width:100vw;
    height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;
}